{% extends "page.html" %}
{% block main-content %}  
        <div class="col-md-6 col-md-offset-1">
            <table class="table table-bordered">
                <tr>
                    <th>位号</th>
                    <th>名称</th>
                    <th>备注</th>
                </tr>
                {% for record in object_list %}
                    <tr>
                        <td>
                            {{ record.位号 }}
                        </td>
                        <td>
                            {{ record.名称 }}
                        </td>
                        <td>
                            {{ record.备注 }}
                        </td>
                    </tr>          
                {% endfor %}
            </table>
        </div>
{% endblock %}        
