{% extends "main.html" %}
{% block content %}
		<div class="row">	
			<h1 class="page-header">欢迎来到葫芦岛天然气终端厂</h1>		
		</div>
		<div class="row"> 
			<div class="col-md-2">
				<a class="btn btn-block btn-primary" href="#" role="button">生产情况</a>			
				<a class="btn btn-block btn-success" href="#" role="button">库存情况</a>			
				<a class="btn btn-block btn-danger" href="#" role="button">工作计划</a>			
				<a class="btn btn-block btn-info" href="/Contact/workPhone" role="button">工作电话</a>			
				<a class="btn btn-block btn-warning" href="#" role="button">人员信息</a>			
				<a class="btn btn-block btn-default" href="file://10.30.29.20/202%E5%8E%82%E6%96%87%E4%BB%B6%E6%9C%8D%E5%8A%A1%E5%99%A8/" role="button">共享资料</a>			
			</div>
			<div class="col-md-8">		
				{% include 'carousel.html' %}
			</div>
			<div class="col-md-2">
					<div class="panel panel-primary">
					  <div class="panel-heading">
						<h3 class="panel-title"><a href="/inform">大事记</a></h3>
					  </div>
					  <div class="panel-body">
							葫芦岛终端生产管理系统已经使用4年了！
					  </div>
					</div>
					<div class="panel panel-info">
					  <div class="panel-heading">
						<h3 class="panel-title"><a href="/inform">工作亮点</a></h3>
					  </div>
					  <div class="panel-body">
							葫芦岛终端生产管理系统已经使用4年了！
					  </div>
					</div>					
			</div>			
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-danger">
				  <div class="panel-heading">
					<h3 class="panel-title"><a href="/Information/messageList">通告</a></h3>
				  </div>
				  <div class="panel-body">
						{% for item in messages %}
                            [{{item.author}}] {{item.updatedTime}} : {{item.content}} <br>
                        {% endfor %}
				  </div>
				</div>			
			</div>
			<div class="col-md-6">
				<div class="panel panel-success">
				  <div class="panel-heading">
					<h3 class="panel-title">生产完成情况</h3>
				  </div>
				  <div class="panel-body">
						以后添加月度完成情况！
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
			  <h2><a href="/HealthSafetyEnviroment">安全环保</a></h2>
			  <p class="text-danger">要钱不要命？</p>
			  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			  <p><a class="btn btn-primary" href="/HealthSafetyEnviroment" role="button">详情 »</a></p>
			</div>
			<div class="col-md-4">
			  <h2><a href="/ProcessProduce">工艺生产</a></h2>
			  <p class="text-danger">原始社会才不需要钱！</p>
			  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			  <p><a class="btn btn-primary" href="/ProcessProduce" role="button">详情 »</a></p>
			</div>
			<div class="col-md-4">
			  <h2><a href="/EquipmentMaintain">设备维修</a></h2>
			  <p class="text-danger">大猩猩都使用工具了！</p>
			  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			  <p><a class="btn btn-primary" href="/EquipmentMaintain" role="button">详情 »</a></p>
			</div>			
		</div>
	</div>		
{% endblock content %}
{% block foot %}
	{% include 'bottom.html' %}
{% endblock foot %}