{% extends "recordView.html" %}
{% block main-content %}
	<div class="col-md-6 col-md-offset-1">
    <form method="post" action="">
        {% csrf_token %}
        {% include 'formset.html' %}
    </form>
	</div>
{% endblock main-content %}
{% block sidebarRight %}
    <div class = "filter">  	
        <form action="." method="get" class = "filter-form">
        	<fieldset>
	        	<legend>查询</legend>
	        	地点:<input type="text" name="address"><br>
	        	电话:<input type="text" name="telephone"><br>
	        	备注:<input type="text" name="remark"><br>
        	</fieldset>
        </form>
        <a class="btn btn-info" role="button" id="filter" >筛选</a>        
    </div>
     <div class = "save">
    	<input type="submit" value="提交" >
    </div>    
{% endblock %}
