{% extends "main.html" %}


{% block title %} 工作电话 {% endblock title %}

{% block content %}
    <div class="row">
        <h1 class="page-header">工作电话</h1>
    </div>
    <div class="row">
        {%  include "sidebarLeft.html" %}    
        <div class="col-md-6 col-md-offset-1">
            <table class="table table-bordered">
                <tr>
                    <th>地点</th>
                    <th>电话</th>
                    <th>备注</th>
                </tr>
                {% for WorkPhone in object_list %}
                    <tr>
                        <td>
                            {{ WorkPhone.地点 }}
                        </td>
                        <td>
                            {{ WorkPhone.电话 }}
                        </td>
                        <td>
                            {{ WorkPhone.备注 }}
                        </td>
                    </tr>          
                {% endfor %}
            </table>
        </div>        
        {% include "sidebarRight.html" %}       
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            {% include "pagination.html" %}
        </div>
    </div>       
{% endblock %}