{% extends "main.html" %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
	<!-- 主体 -->
	<div class="container-fluid" >
		<div class="row">
			<h1 class="page-header">设备维护</h1>
		</div>
		<div class="row">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">部门</h3>
				</div>
				<div class="panel-body">
					{% for name,address in 部门 %}
						<div class="col-md-3">
							<a class="btn btn-primary btn-block" href="{{address}}" role="button">{{name}}</a>
						</div>
					{% endfor %}
				</div>
			</div>		
		</div>
		<div class="row">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">设备档案</h3>
				</div>
				<div class="panel-body">
					{% for name,address in 设备档案 %}
						<div class="col-md-3">
							<a class="btn btn-primary btn-block" href="{{address}}" role="button">{{name}}</a>
						</div>
					{% endfor %}
				</div>
			</div>		
		</div>							
	</div>		
{% endblock content%}