<div class="col-md-2">
    <a class="btn btn-block btn-info" href="/QHSE/contact" role="button">工作电话</a>     
    <a class="btn btn-block btn-warning" href="#" role="button">人员信息</a>            
    <a class="btn btn-block btn-primary" href="/ProcessProduction/productionReview" role="button">生产情况</a>            
    <a class="btn btn-block btn-success" href="#" role="button">库存情况</a>            
    <a class="btn btn-block btn-danger" href="#" role="button">工作计划</a>                     
    <a class="btn btn-block btn-default" href="file://10.30.29.20/202%E5%8E%82%E6%96%87%E4%BB%B6%E6%9C%8D%E5%8A%A1%E5%99%A8/" role="button">共享资料</a>
</div> 