{% extends "main.html" %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
	<!-- 主体 -->
	<div class="container-fluid" >     
        <form class="form-horizontal" action="{% url '配产' %}" method="post">
        {% csrf_token %}
            <div class="row">
                <div clas="form-group">
                `   <label for="日期" class="col-md-3 control-label">日期</label>
                    <div class="col-md-2">
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-primary btn-block" >保存</button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                    <tr>
                        <th>&nbsp;</th>
                        <th>月配产</th>
                        <th>年配产</th>
                    </tr>
                    {% for x in 产品 %}
                    <tr>
                        <td>{{x}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endfor %}
            </table>    
        </form>
	</div>		
{% endblock content%}
