{% extends "main.html" %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
	<!-- 主体 -->
	<div class="container-fluid" >     
        <form class="form-horizontal" action="{% url '配产' %}" method="post">
        {% csrf_token %}
            <div class="row">
                <div class="form-group">
                    <div class="col-md-5">
                        <h1 class="bg-danger">请按制表键[tab](键盘Q字母左边)，输入下一个数据</h1>
                    </div>
                    <div class="col-md-2 ">
                        <button type="submit" class="btn btn-primary btn-block" >保存</button>
                    </div>
                </div>
            </div>
            {% include "form_snippet.html" %}
        </form>
	</div>		
{% endblock content%}
