{% extends "main.html" %}
{% block title %}{{title}}{% endblock title %}

{% block content %}
	<!-- 主体 -->
	<div class="container-fluid" >     
        <form class="form-horizontal" action="{% url '生产日报'  %}" method="post">
        {% csrf_token %}
            <div class="row">
                <div clas="form-group">
                `   <label for="日期" class="col-md-3 control-label">日期</label>
                    <div class="col-md-2">
                        <input type="date" class="form-control" placeholder={{Date}}>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-primary btn-block" >保存</button>
                    </div>
                </div>
            </div>

        </form>
        <div class="col-md-6">
            <table class="table table-bordered">
                <thead>
                    <tr>            
                        <th>类别</th>
                        <th>名称</th>
                        <th>数据</th>
                    </tr>
                </thead>
                <tbody>                   
                    {% for v in categorys %}
                        {% if v == "天然气" %}
                            {% for x in 天然气 %}
                                <tr>
                                {% if forloop.first %}<td rowspan="{{天然气|length}}">天然气</td>{% endif %} 
                                 
                                <td>{{x}}</td>
                                <td><input type="number" name="{{x}}"  class="form-control" placeholder="数据"></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if v == "轻油" %}
                            {% for x in 轻油 %}
                                <tr>
                                {% if forloop.first %}<td rowspan="{{轻油|length}}">轻油</td>{% endif %} 
                                 
                                <td>{{x}}</td>
                                <td><input type="number" name="{{x}}"  class="form-control" placeholder="数据"></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if v == "轻烃" %}
                            {% for x in 轻烃 %}
                                <tr>
                                {% if forloop.first %}<td rowspan="{{轻烃|length}}">轻烃</td>{% endif %} 
                                 
                                <td>{{x}}</td>
                                <td><input type="number" name="{{x}}"  class="form-control" placeholder="数据"></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if v == "化学药剂" %}
                            {% for x in 化学药剂 %}
                                <tr>
                                {% if forloop.first %}<td rowspan="{{化学药剂|length}}">化学药剂</td>{% endif %} 
                                 
                                <td>{{x}}</td>
                                <td><input type="number" name="{{x}}"  class="form-control" placeholder="数据"></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if v == "水" %}
                            {% for x in 水 %}
                                <tr>
                                {% if forloop.first %}<td rowspan="{{水|length}}">水</td>{% endif %} 
                                 
                                <td>{{x}}</td>
                                <td><input type="number" name="{{x}}"  class="form-control" placeholder="数据"></td>
                                </tr>
                            {% endfor %}
                        {% endif %}                        
                        {% if v == "电" %}
                            {% for x in 电 %}
                                <tr>
                                {% if forloop.first %}<td rowspan="{{电|length}}">电</td>{% endif %} 
                                 
                                <td>{{x}}</td>
                                <td><input type="number" name="{{x}}"  class="form-control" placeholder="数据"></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if v == "数据库" %}
                            {% for x in 数据库 %}
                                <tr>
                                {% if forloop.first %}<td rowspan="{{数据库|length}}">数据库</td>{% endif %} 
                                 
                                <td>{{x}}</td>
                                <td><input type="number" name="{{x}}"  class="form-control" placeholder="数据"></td>
                                </tr>
                            {% endfor %}
                        {% endif %}                        
                        {% if v == "上游" %}
                            {% for x in 上游 %}
                                <tr>
                                {% if forloop.first %}<td rowspan="{{上游|length}}">上游</td>{% endif %} 
                                 
                                <td>{{x}}</td>
                                <td><input type="number" name="{{x}}"  class="form-control" placeholder="数据"></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                       

                    {% endfor %}                   
                </tbody>
            </table>
        </div>    
	</div>		
{% endblock content%}
