{% extends "main.html" %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
    <!-- 主体 -->
    <div class="container-fluid" >
        <div class="row">
            <h1 class="page-header">工艺生产</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h3 class="panel-title">数据采集</a></h3>
                  </div>
                  <div class="panel-body">
                    {% for name,address in 数据采集 %}
                        <a class="btn btn-primary btn-lg" href="{{address}}" role="button">{{name}}</a>
                    {% endfor %}
                  </div>
                </div>            
            </div>
            <div class="col-md-6">
                <div class="panel panel-warning">
                  <div class="panel-heading">
                    <h3 class="panel-title">报表</h3>
                  </div>
                  <div class="panel-body">
                    {% include "ProcessProduction/dailySelectSnippet.html" %}
                                      
                    {% for name,address in 报表 %}
                        <a class="btn btn-primary btn-lg" href="{{address}}" role="button">{{name}}</a>
                    {% endfor %}


                  </div>
                </div>            
            </div>            
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h3 class="panel-title">生产管理规定，操作程序</a></h3>
                  </div>
                  <div class="panel-body">
<!--                     {% for name,address in 数据采集 %}
                        <a class="btn btn-primary btn-lg" href="{{address}}" role="button">{{name}}</a>
                    {% endfor %} -->
                  </div>
                </div>            
            </div>
            <div class="col-md-6">
                <div class="panel panel-warning">
                  <div class="panel-heading">
                    <h3 class="panel-title">生产培训</h3>
                  </div>
                  <div class="panel-body">
<!--                     {% for name,address in 报表 %}
                        <a class="btn btn-primary btn-lg" href="{{address}}" role="button">{{name}}</a>
                    {% endfor %} -->
                  </div>
                </div>            
            </div>            
        </div>
        <div class="row">
                <div class="panel panel-warning">
                  <div class="panel-heading">
                    <h3 class="panel-title">生产大事记</h3>
                  </div>
                  <div class="panel-body">
                  </div>
                </div>        
        </div>                        
    </div>        
{% endblock content%}