{% extends "dynamicForm.html" %} 
{% block CSS %}
      
{% endblock CSS %}
{% block hJS %}
<script src="/static/js/dynamicTable.js"></script>
<script type="text/javascript">
    function add() {
        var otr = document.getElementById("dynamicTable").insertRow(-1);
        var otd = document.createElement("td");
        otd.innerHTML = '<input type="checkbox" name="checkItem" />';
        otr.appendChild(otd);

        {% for name in names %}
            otd=document.createElement("td")
            otd.innerHTML = '<input type="text" name={{name|safe}} >'
            otr.appendChild(otd)
        {% endfor %}

    }
    // function save() {
    //     var dynamicTable = document.getElementById('dynamicTable');
    //     var data=new Array();
    //     for(var i=1;i<dynamicTable.rows.length;i++){
    //         var record={}
    //         for(var j=1;j<dynamicTable.rows[i].cells.length;j++){
    //             var x=dynamicTable.rows[i].cells[j].firstChild
    //             // console.log(x.nodeName,x.name)
    //             switch(x.nodeName){
    //                 case "INPUT":
    //                     record[x.name]=x.value;
    //                     break;
    //                 case "SELECT":
    //                     record[x.name]=x.options[x.selectedIndex].value;
    //                     break;
    //                 default:
    //                     record[x.name]="";
    //             }             
    //         }
    //         data.push(record);
    //     }
    //     // console.log(data);
    //     // alert(JSON.stringify(data));
    //     return JSON.stringify(data)
    // }

</script>
{% endblock hJS %} 
