{% extends "dynamicForm.html" %} 
{% block CSS %}
  
{% endblock CSS %}
{% block hJS %}
<!-- <script src="/static/js/dynamicTable.js"></script> -->
<script type="text/javascript">
    function add() {
        var otr = document.getElementById("dynamicTable").insertRow(-1);
        var otd = document.createElement("td");
        otd.innerHTML = '<input type="checkbox" name="checkItem" />';
        otr.appendChild(otd);

        {% for name in names %}
            otd=document.createElement("td")
            otd.innerHTML = '<input type="text" name={{name|safe}} >'
            otr.appendChild(otd)
        {% endfor %}

    }

    // $.ajaxSetup({ data: {csrfmiddlewaretoken: '{{ csrf_token }}' }, });
   
    function save(isErase){
        var mydata;
        switch (arguments.length) {
        case 0:
            mydata = {'save':dataAcquisition()}
            break;
        case 1:
            mydata = {'delete':dataAcquisition()}
            break;
        }
        mydata=JSON.stringify(mydata)
        console.log(mydata);
        $.ajax({
            url:"{% url 'ladingBillForm' %}",
            type:'POST',
            dataType:"json",
            contentType: "application/json; charset=utf-8",
            headers: {'X-CSRFToken': '{{ csrf_token }}'}, 
            data: mydata,
            success:function(data){
                if(isErase){
                    alert('数据已删除！')
                }
                else{
                    alert('数据已保存！')
                }
                result=JSON.parse(data)
                console.log(result)
            },
            error:function(){
                alert('操作失败！')
            }
        })                
    }    
</script>
{% endblock hJS %} 
