{% extends "dataTable.html" %}
{% block dataTable %}
<thead>
    <tr>
        <th colspan="5">葫芦岛天然气处理厂</th>
        <th>{{sd}}</th>
    </tr>
	<tr>
		<th rowspan="2">客户</th>
		<th rowspan="2">丙烷t</th>
		<th rowspan="2">丁烷t</th>
		<th rowspan="2">液化气t</th>
		<th colspan="2">轻油</th>
	</tr>
	<tr>
		<th>t</th>
		<th>bbl</th>
	</tr>
</thead>
<tbody>
	{% for row in data  %}
		<tr>
		{% for column in row %}
			{% if column == "日累" %}
				<td>合计</td>
			{% else %}
				<td>{{column|default_if_none:""}}</td>
			{% endif %}			
		{% endfor column %}
		</tr>
	{% endfor row %}
<!-- 	<tr>
		<td>合计</td>
		<td>{{data.日累.丙烷t}}</td>
		<td>{{data.日累.丁烷t}}</td>
		<td>{{data.日累.液化气t}}</td>
		<td>{{data.日累.轻油t}}</td>
		<td>{{data.日累.轻油bbl}}</td>
	</tr>
	<tr>
		<td>月累</td>
		<td>{{data.月累.丙烷t}}</td>
		<td>{{data.月累.丁烷t}}</td>
		<td>{{data.月累.液化气t}}</td>
		<td>{{data.月累.轻油t}}</td>
		<td>{{data.月累.轻油bbl}}</td>
	</tr>
					<tr>
		<td>年累</td>
		<td>{{data.年累.丙烷t}}</td>
		<td>{{data.年累.丁烷t}}</td>
		<td>{{data.年累.液化气t}}</td>
		<td>{{data.年累.轻油t}}</td>
		<td>{{data.年累.轻油bbl}}</td>
	</tr> -->
</tbody> 
{% endblock dataTable %}