{% block hJS %} 
    <script src="/static/js/echarts.min.js"></script>
{% endblock hJS %}
<div>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="{{EchartsTitle}}" style="width: 800px;height:400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('{{EchartsTitle}}'));
        // 指定图表的配置项和数据
        var option = {
            title: {
                text:'{{EchartsTitle|safe}}',
                // subtext: '纯属虚构'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: {{legend|safe}},
                selected: {
                    '轻油m3':false,
                    '轻烃m3':false,
                }
            },
            toolbox: {
                show: true,
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    dataView: {readOnly: false},
                    magicType: {type: ['line', 'bar']},
                    restore: {},
                    saveAsImage: {}
                }
            },
            xAxis:  {
                type: 'category',
                boundaryGap: false,
                // data: ['周一','周二','周三','周四','周五','周六','周日']
                data: {{xAxis|safe}}
            },
            yAxis: {
                type: 'value',
                // axisLabel: {
                //     formatter: '{value} °C'
                // }
            },
            series: [
                {
                    name: '天然气m3',
                    type: 'line',
                    data: {{series.锦天化|safe}},
                    itemStyle:{
                        normal:{color:'yellow'}
                    },                    
                    markPoint: {
                        data: [
                            {type: 'max', name: '最大值'},
                            // {type: 'min', name: '最小值'}
                        ]
                    },
                    markLine: {
                        data: [
                            {type: 'average', name: '平均值'}
                        ]
                    }                                      
                },            
                {
                    name: '轻油m3',
                    type: 'line',
                    data: {{series.轻油回收量|safe}},
                    itemStyle:{
                        normal:{color:'black'}
                    },                     
                    markPoint: {
                        data: [
                            {type: 'max', name: '最大值'},
                            // {type: 'min', name: '最小值'}
                        ]
                    },
                    markLine: {
                        data: [
                            {type: 'average', name: '平均值'}
                        ]
                    }                     
                },
                {
                    name: '轻烃m3',
                    type: 'line',
                    data: {{series.丙丁烷回收量|safe}},
                    itemStyle:{
                        normal:{color:'blue'}
                    },                     
                    markPoint: {
                        data: [
                            {type: 'max', name: '最大值'},
                            // {type: 'min', name: '最小值'}
                        ]
                    },
                    markLine: {
                        data: [
                            {type: 'average', name: '平均值'}
                        ]
                    }                     
                },
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</div>