{% extends "main.html" %}

{% block CSS %}
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/print.css" /> -->
    <style type="text/css">
    table,td {
        text-align: center;
        font-size:  12px;
    }
    caption {
        font-size: 18px;
    }
    th {
        text-align: center;
        font-size: 16px;
    }
    .签名 {
        border-top : 1px
    }
/*    table { width: 80%; }
    tr { height: 10px; }*/
    </style>
{% endblock CSS %}


{% block content %}
<div id="content" class="col-md-10 col-md-offset-1">
    <table class="table table-bordered">
        <caption class="text-center">葫芦岛天然气终端厂生产日报</caption>
        <tr>
            <td id="日期" colspan="9" class="text-right">{{data.日期}}</td>
        </tr>
        <tr>
            <th colspan="9">（一）配产/完成情况</th>
        </tr>
        <tr>
            <td>产品名称</td>
            <td>年时间进度比%</td>
            <td>年度配产</td>
            <td>年度累计</td>
            <td>年度完成率%</td>
            <td>今后需日产</td>
            <td>月度配产</td>
            <td>月度累计</td>
            <td>月度完成率%</td>
        </tr>
        <tr>
            <td>天然气10<sup>4</sup>Nm<sup>3</sup>
            </td>
            <td>{{data.年时间进度比}}</td>
            <td>{{data.天然气年配产方}}</td>
            <td>{{data.总外输气量年累}}</td>
            <td>{{data.天然气年度完成率}}</td>
            <td>{{data.天然气需日产}}</td>
            <td>{{data.天然气月配产方}}</td>
            <td>{{data.总外输气量月累}}</td>
            <td>{{data.天然气月度完成率}}</td>
        </tr>
        <tr>
            <td>轻油m<sup>3</sup>
            </td>
            <td>{{data.年时间进度比}}</td>
            <td>{{data.轻油年配产方}}</td>
            <td>{{data.轻油年累}}</td>
            <td>{{data.轻油年度完成率}}</td>
            <td>{{data.轻油需日产}}</td>
            <td>{{data.轻油月配产方}}</td>
            <td>{{data.轻油月累}}</td>
            <td>{{data.轻油月度完成率}}</td>
        </tr>
        <tr>
            <td>丙丁烷m<sup>3</sup>
            </td>
            <td>{{data.年时间进度比}}</td>
            <td>{{data.丙丁烷年配产方}}</td>
            <td>{{data.丙丁烷年累}}</td>
            <td>{{data.丙丁烷年度完成率}}</td>
            <td>{{data.丙丁烷需日产}}</td>
            <td>{{data.丙丁烷月配产方}}</td>
            <td>{{data.丙丁烷月累}}</td>
            <td>{{data.丙丁烷月度完成率}}</td>
        </tr>
        <tr>
            <th colspan="9">（二）天然气产量/外输/海管信息</th>
        </tr>
        <tr>
            <td colspan="2">项目</td>
            <td colspan="2">日产/合计</td>
            <td>月累</td>
            <td>年累</td>
            <td colspan="3">海管信息</td>
        </tr>
        <tr>
            <td rowspan="4">总收气量10
                <font><sup>4</sup></font>
                <font>m</font><sup>3</sup>
            </td>
            <td>稳定区</td>
            <td colspan="2">{{data.稳定区方}}</td>
            <td>{{data.稳定区月累}}</td>
            <td>{{data.稳定区年累}}</td>
            <td>项目</td>
            <td>上午</td>
            <td>下午</td>
        </tr>
        <tr>
            <td>入厂计量</td>
            <td colspan="2">{{data.入厂计量方}}</td>
            <td>{{data.入厂计量月累}}</td>
            <td>{{data.入厂计量年累}}</td>
            <td>海管来液含水%</td>
            <td>{{data.海管来液含水上午}}</td>
            <td>{{data.海管来液含水下午}}</td>
        </tr>
        <tr>
            <td>JZ20-2体系</td>
            <td colspan="2">{{data.JZ202体系接收方}}</td>
            <td>{{data.JZ202体系接收月累}}</td>
            <td>{{data.JZ202体系接收年累}}</td>
            <td>海管MEG浓度%</td>
            <td>{{data.海管MEG浓度上午}}</td>
            <td>{{data.海管MEG浓度下午}}</td>
        </tr>
        <tr>
            <td>JZ25-1S体系</td>
            <td colspan="2">{{data.JZ251S体系接收方}}</td>
            <td>{{data.JZ251S体系接收月累}}</td>
            <td>{{data.JZ251S体系接收年累}}</td>
            <td>海管出口凝点℃</td>
            <td>{{data.海管出口凝点上午}}</td>
            <td>{{data.海管出口凝点下午}}</td>
        </tr>
        <tr>
            <td colspan="2">总外输气量10
                <font><sup>4</sup></font>
                <font>m3</font>
            </td>
            <td colspan="2">{{data.总外输气量方}}</td>
            <td>{{data.总外输气量月累}}</td>
            <td>{{data.总外输气量年累}}</td>
            <td>海管出口PH值</td>
            <td>{{data.海管出口PH值上午}}</td>
            <td>{{data.海管出口PH值下午}}</td>
        </tr>
        <tr>
            <td colspan="2">总产气量10
                <font><sup>4</sup></font>
                <font>m3</font>
            </td>
            <td colspan="2">{{data.总产气量方}}</td>
            <td>{{data.总产气量月累}}</td>
            <td>{{data.总产气量年累}}</td>
            <td>海管进/出口压力MPa</td>
            <td colspan="2">{{data.海管进出口压力}}</td>
        </tr>
        <tr>
            <td rowspan="3">锦天化10
                <font><sup>4</sup></font>
                <font>m3</font>
            </td>
            <td colspan="2">{{data.锦天化方}}</td>
            <td rowspan="6">{{data.锦天化数据1}}</td>
            <td>{{data.锦天化月累}}</td>
            <td>{{data.锦天化年累}}</td>
            <td>海管进/出口温度℃</td>
            <td colspan="2">{{data.海管进出口温度}}</td>
        </tr>
        <tr>
            <td>JZ20-2体系(外输)</td>
            <td>{{data.JZ202体系外输方}}</td>
            <td>{{data.JZ202体系外输月累}}</td>
            <td>{{data.JZ202体系外输年累}}</td>
            <td>JZ25-1S原油m3</td>
            <td>{{data.JZ251S原油方}}</td>
            <td>{{data.JZ251S原油密度}}</td>
        </tr>
        <tr>
            <td>JZ25-1S体系(外输)</td>
            <td>{{data.JZ251S体系外输数据}}</td>
            <td>{{data.JZ251S体系外输月累}}</td>
            <td>{{data.JZ251S体系外输年累}}</td>
            <td>JZ20-2凝析油m3</td>
            <td>{{data.JZ202凝析油方}}</td>
            <td>{{data.JZ202凝析油密度}}</td>
        </tr>
        <tr>
            <td>
                精细化工CNG10<font><sup>4</sup></font><font>m3</font>
            </td>
            <td colspan="2">{{data.精细化工CNG方}}</td>
            <td>{{data.精细化工CNG月累}}</td>
            <td>{{data.精细化工CNG年累}}</td>
            <td>JZ20-2轻油m3</td>
            <td>{{data.JZ202轻油方}}</td>
            <td>{{data.JZ202轻油密度}}</td>
        </tr>        
        <tr>
            <td>精细化工10<font><sup>4</sup></font><font>m3</font>    
            </td>
            <td colspan="2">{{data.精细化工方}}</td>
            <td>{{data.精细化工月累}}</td>
            <td>{{data.精细化工年累}}</td>
            <td colspan="3" rowspan="4">{{data.上下游12吋海管通球}}</td>
        </tr>
        <tr>
            <td>污水处理厂10
                <font><sup>4</sup></font>
                <font>m3</font>
                </span>
            </td>
            <td colspan="2">{{data.污水处理厂方}}</td>
            <td>{{data.污水处理厂月累}}</td>
            <td>{{data.污水处理厂年累}}</td>
            
        </tr>
        <tr>
            <td colspan="2">新奥燃气10
                <font><sup>4</sup></font>
                <font>m3</font>
            </td>
            <td colspan="2">{{data.新奥燃气方}}</td>
            <td>{{data.新奥燃气月累}}</td>
            <td>{{data.新奥燃气年累}}</td>
        </tr>
        <tr>
            <td colspan="2">自用气10
                <font><sup>4</sup></font>
                <font>m3</font>
            </td>
            <td colspan="2">{{data.自用气方}}</td>
            <td>{{data.自用气月累}}</td>
            <td>{{data.自用气年累}}</td>
        </tr>
        <tr>
            <th colspan="9">（三）轻油产量/外输/库存</th>
        </tr>
        <tr>
            <td colspan="2">轻油</td>
            <td>V-631A</td>
            <td>V-631B</td>
            <td>V-631C</td>
            <td>轻油库存</td>
            <td>轻油处理量m<sup>3</sup></td>
            <td>轻油回收量m<sup>3</sup></td>
            <td>轻油回收量t</td>
        </tr>
        <tr>
            <td colspan="2">液位m</td>
            <td>{{data.V631A米}}</td>
            <td>{{data.V631B米}}</td>
            <td>{{data.V631C米}}</td>
            <td>/</td>
            <td>{{data.轻油处理量方}}</td>
            <td>{{data.轻油回收量方}}</td>
            <td>{{data.轻油回收量吨}}</td>
        </tr>
        <tr>
            <td colspan="2">库存m<sup>3</sup>
            </td>
            <td>{{data.V631A方}}</td>
            <td>{{data.V631B方}}</td>
            <td>{{data.V631C方}}</td>
            <td>{{data.轻油库存方}}</td>
            <td>饱和蒸汽压KPa</td>
            <td>外输PH值</td>
            <td>外输凝点℃</td>
        </tr>
        <tr>
            <td colspan="2">库存t</td>
            <td>{{data.V631A吨}}</td>
            <td>{{data.V631B吨}}</td>
            <td>{{data.V631C吨}}</td>
            <td>{{data.轻油库存吨}}</td>
            <td>{{data.轻油饱和蒸汽压千帕}}</td>
            <td>{{data.轻油外输PH值}}</td>
            <td>{{data.轻油外输凝点摄氏度}}</td>
        </tr>
        <tr>
            <td colspan="2">轻油装车m3</td>
            <td>{{data.轻油装车方}}</td>
            <td>轻油装车bbl</td>
            <td>{{data.轻油装车桶}}</td>
            <td>轻油装车t</td>
            <td>{{data.轻油装车吨}}</td>
            <td>轻油入罐前含水%<span></span></td>
            <td>{{data.轻油入罐前含水}}</td>
        </tr>
        <tr>
            <th colspan="9">（四）丙丁烷产量/外输/库存</th>
        </tr>
        <tr>
            <td>项目</td>
            <td>V-641A
                <br/>（丙烷）</td>
            <td>V-641B
                <br/>（丙烷）</td>
            <td>V-642
                <br/>（丁烷）</td>
            <td>V-643A
                <br/>（液化气）</td>
            <td>V-643B
                <br/>（丁烷）</td>
            <td>丙烷库存</td>
            <td>丁烷库存</td>
            <td>液化气库存</td>
        </tr>
        <tr>
            <td>液位m</td>
            <td>{{data.V641A米}}</td>
            <td>{{data.V641B米}}</td>
            <td>{{data.V642米}}</td>
            <td>{{data.V643A米}}</td>
            <td>{{data.V643B米}}</td>
            <td>/</td>
            <td>/</td>
            <td>/</td>
        </tr>
        <tr>
            <td>库存m<sup>3</sup></td>
            <td>{{data.V641A方}}</td>
            <td>{{data.V641B方}}</td>
            <td>{{data.V642方}}</td>
            <td>{{data.V643A方}}</td>
            <td>{{data.V643B方}}</td>
            <td>{{data.丙烷库存方}}</td>
            <td>{{data.丁烷库存方}}</td>
            <td>{{data.液化气库存方}}</td>
        </tr>
        <tr>
            <td>库存t</td>
            <td>{{data.V641A吨}}</td>
            <td>{{data.V641B吨}}</td>
            <td>{{data.V642吨}}</td>
            <td>{{data.V643A吨}}</td>
            <td>{{data.V643B吨}}</td>
            <td>{{data.丙烷库存吨}}</td>
            <td>{{data.丁烷库存吨}}</td>
            <td>{{data.液化气库存吨}}</td>
        </tr>
        <tr>
            <td>丙烷装车m3</td>
            <td>丁烷装车m3</td>
            <td>液化气装车m3</td>
            <td>丙烷装车t</td>
            <td>丁烷装车t</td>
            <td>液化气装车t</td>
            <td>轻烃回收m3</td>
            <td>轻烃回收t</td>
            <td>轻烃库存t</td>
        </tr>
        <tr>
            <td>{{data.丙烷装车方}}</td>
            <td>{{data.丁烷装车方}}</td>
            <td>{{data.液化气装车方}}</td>
            <td>{{data.丙烷装车吨}}</td>
            <td>{{data.丁烷装车吨}}</td>
            <td>{{data.液化气装车吨}}</td>
            <td>{{data.丙丁烷回收量方}}</td>
            <td>{{data.丙丁烷回收量吨}}</td>
            <td>{{data.轻烃库存吨}}</td>
        </tr>
        <tr>
            <td>数据库</td>
            <td colspan="2">数据库轻油回收量m3</td>
            <td colspan="2">{{data.数据库轻油回收量方}}</td>
            <td colspan="2">数据库轻烃回收量m3</td>
            <td colspan="2">{{data.数据库轻烃回收量方}}</td>
        </tr>
        <tr>
            <th colspan="9">（五）物料接收/消耗</th>
        </tr>
        <tr>
            <td rowspan="2">项目</td>
            <td colspan="2">化学药剂</td>
            <td colspan="3">水</td>
            <td colspan="3">电</td>
        </tr>
        <tr>
            <!-- <td rowspan="2">项目</td> -->
            <td>甲醇消耗m<sup>3</sup></td>
            <td>乙二醇回收m<sup>3</sup></td>
            <td>外供水m<sup>3</sup></td>
            <td>自采水m<sup>3</sup></td>
            <td>水消耗m<sup>3</sup></td>
            <td>外供电度</td>
            <td>自发电度</td>
            <td>电消耗度</td>
        </tr>
        <tr>
            <td>日累</td>
            <td>{{data.甲醇消耗方}}</td>
            <td>{{data.乙二醇回收方}}</td>
            <td>{{data.外供水方}}</td>
            <td>{{data.自采水方}}</td>
            <td>{{data.水消耗方}}</td>
            <td>{{data.外供电度}}</td>
            <td>{{data.自发电度}}</td>
            <td>{{data.电消耗度}}</td>
        </tr>
        <tr>
            <td>月累</td>
            <td>{{data.甲醇消耗m3月累}}</td>
            <td>{{data.乙二醇回收m3月累}}</td>
            <td>{{data.外供水m3月累}}</td>
            <td>{{data.自采水m3月累}}</td>
            <td>{{data.水消耗m3月累}}</td>
            <td>{{data.外供电度月累}}</td>
            <td>{{data.自发电度月累}}</td>
            <td>{{data.电消耗度月累}}</td>
        </tr>
        <tr>
            <td>年累</td>
            <td>{{data.甲醇消耗m3年累}}</td>
            <td>{{data.乙二醇回收m3年累}}</td>
            <td>{{data.外供水m3年累}}</td>
            <td>{{data.自采水m3年累}}</td>
            <td>{{data.水消耗m3年累}}</td>
            <td>{{data.外供电度年累}}</td>
            <td>{{data.自发电度年累}}</td>
            <td>{{data.电消耗度年累}}</td>
        </tr>
        <tr>
            <td>乙二醇浓度%</td>
            <td>{{data.乙二醇浓度}}</td>
            <td>乙二醇消耗m<sup>3</sup></td>
            <td>{{data.乙二醇消耗方}}</td>
            <td>库存水</td>
            <td>水池水位m</td>
            <td>{{data.库存水m}}</td>
            <td>水池储水m<sup>3</sup></td>
            <td>{{data.库存水方}}</td>
        </tr>
        <tr>
            <td colspan="9">
            {{data.生产备注}}
            </td>
        </tr>
        <tr>
            <td class="签名">填报：</td>
            <td colspan="2"  class="签名"></td>
            <td class="签名">检查：</td>
            <td class="签名"></td>
            <td class="签名">审核：</td>
            <td class="签名"></td>
            <td class="签名">批准：</td>
            <td class="签名"></td>
        </tr>
    </table>
    </div>
</div>
{% endblock content%}
