{% extends "main.html" %}

{% block hJS %} 
    <script src="/static/js/echarts.min.js"></script>       
{% endblock hJS %}

{% block main-content %}
<!--  	
	生产 production
	接收 receive
	外输 export
	消耗 consume
	库存 stock 
 -->
	<div class="row">
		<div class="col-md-6">
			<h3>计划</h3>		
			<div id="计划" style="width: 800px;height:400px;"></div>
		</div>
		<div class="col-md-6">
			<h3>生产</h3>
			<div id="生产" style="width: 800px;height:400px;"></div>					
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h3>接收</h3>		
			<div id="接收" style="width: 800px;height:400px;"></div>
		</div>
		<div class="col-md-6">
			<h3>外输</h3>
			<div id="外输" style="width: 800px;height:400px;"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h3>消耗</h3>
			<div id="消耗" style="width: 800px;height:400px;"></div>
		</div>	
		<div class="col-md-6">
			<h3>库存</h3>
			<div id="库存" style="width: 800px;height:400px;"></div>
		</div>
	</div>		
{% endblock %}

{% block JS %}
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var distributionChart = echarts.init(document.getElementById('计划'));
    var productionChart = echarts.init(document.getElementById('生产'));
    var receivedChart = echarts.init(document.getElementById('接收'));
    var outputChart = echarts.init(document.getElementById('外输'));
    var consumptionChart = echarts.init(document.getElementById('消耗'));
    var inventoryChart = echarts.init(document.getElementById('库存'));
    // 指定图表的配置项和数据
	var distributionOption = {
	    // title: {
	    //     text: '子弹图-模仿练习',
	    //     subtext: '数据纯属虚构',
	    //     left: 'left',
	    // },
	    tooltip: {
	        show: true,
	        trigger: 'axis',
	        showDelay: 0,
	        formatter: '{a0}: {c0}<br />{a1}: {c1}',
	        extraCssText: 'box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);',
	        axisPointer: {
	            type: 'shadow'
	        }
	    },
	    legend: {
	        data: ['配产', '生产'],
	        icon: 'roundRect',
	        // left: 'left'
            top : 'bottom',
	    },
        toolbox: {
            show: true,
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: {readOnly: false},
                magicType: {type: ['line', 'bar']},
                restore: {},
                saveAsImage: {}
            }
        },        
	    xAxis: {
	        boundaryGap: true,
	        axisLine: {
	            show: false
	        },
	        data: {{xx|safe}}
	    },
	    yAxis: {
	        type: 'value',
	        // max: 120,
	        // splitLine: {
	        //     show: false
	        // },
	        // axisLabel: {
	        //     formatter: '{value} %'
	        // }
	    },
	    series: [
        {
            name: '配产',
            type: 'scatter',
            // type: 'bar',
            // stack : '',
            symbol: 'rect',
            // silent: true,
            // itemStyle: {
            //     normal: {
            //         color: '#F33535'
            //     }
            // },
            symbolSize: [30, 5],
            // symbolOffset: ['-30%', 0],
            z: 20,
            data: {{dc|safe}}
        },        
	    {
	        name: '生产',
	        type: 'bar',
	        // barGap: '-300%',
	        barWidth: 20,
	        z: 10,
	        // itemStyle: {
	        //     normal: {
	        //         color: '#29252C'
	        //     }
	        // },
	        data: {{pc|safe}}
	    }, 

	    ]
	};    
    var productionOption = {
        // title: {
        //     text: '生产'
        // },
        tooltip: {
        	trigger: 'axis'
        },
        legend: {
            data: {{legendProduction|safe}},
            // left: 'left',
            top : 'bottom', 
            selected : {
                '自采水' : false,
                '自发电' : false,
                '乙二醇回收' : false,
            }           
        },
        toolbox: {
            show: true,
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: {readOnly: false},
                magicType: {type: ['line', 'bar']},
                restore: {},
                saveAsImage: {}
            }
        },		            
        xAxis: {
            data: {{xAxis|safe}}
        },
        yAxis: {},
        series: [
        {% for k,v in production.items %}
        {
            name: '{{k|safe}}',
            type: 'line',
            data: {{v|safe}},
            markPoint: {
                data: [
                    {type: 'max', name: '最大值'},
                    // {type: 'min', name: '最小值'}
                ]
            },
            markLine: {
                data: [
                    {type: 'average', name: '平均值'}
                ]
            }		                
        },
        {% endfor %}
        ]
    };
    var receivedOption = {
        // title: {
        //     text: '接收'
        // },
        tooltip: {
        	trigger: 'axis'
        },
        legend: {
            data: {{legendReceived|safe}},
            // left: 'left',
            top : 'bottom',             
        },
        toolbox: {
            show: true,
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: {readOnly: false},
                magicType: {type: ['line', 'bar']},
                restore: {},
                saveAsImage: {}
            }
        },		            
        xAxis: {
            data: {{xAxis|safe}}
        },
        yAxis: {},
        series: [
        {% for k,v in received.items %}
        {
            name: '{{k|safe}}',
            type: 'line',
            data: {{v|safe}},
            markPoint: {
                data: [
                    {type: 'max', name: '最大值'},
                    // {type: 'min', name: '最小值'}
                ]
            },
            markLine: {
                data: [
                    {type: 'average', name: '平均值'}
                ]
            }		                
        },
        {% endfor %}
        ]
    };
    var outputOption = {
        // title: {
        //     text: '外输'
        // },
        tooltip: {
        	trigger: 'axis'
        },
        legend: {
            data: {{legendOutput|safe}},
            // left: 'left',
            top : 'bottom',             
        },
        toolbox: {
            show: true,
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: {readOnly: false},
                magicType: {type: ['line', 'bar']},
                restore: {},
                saveAsImage: {}
            }
        },		            
        xAxis: {
            data: {{xAxis|safe}}
        },
        yAxis: {},
        series: [
        {% for k,v in output.items %}
        {
            name: '{{k|safe}}',
            type: 'line',
            data: {{v|safe}},
            markPoint: {
                data: [
                    {type: 'max', name: '最大值'},
                    // {type: 'min', name: '最小值'}
                ]
            },
            markLine: {
                data: [
                    {type: 'average', name: '平均值'}
                ]
            }		                
        },
        {% endfor %}
        ]
    };

    var consumptionOption = {
        // title: {
        //     text: '消耗'
        // },
        tooltip: {
        	trigger: 'axis'
        },
        legend: {
            data: {{legendConsumption|safe}},
            // left: 'left',
            top : 'bottom',             
        },
        toolbox: {
            show: true,
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: {readOnly: false},
                magicType: {type: ['line', 'bar']},
                restore: {},
                saveAsImage: {}
            }
        },		            
        xAxis: {
            data: {{xAxis|safe}}
        },
        yAxis: {},
        series: [
        {% for k,v in consumption.items %}
        {
            name: '{{k|safe}}',
            type: 'line',
            data: {{v|safe}},
            markPoint: {
                data: [
                    {type: 'max', name: '最大值'},
                    // {type: 'min', name: '最小值'}
                ]
            },
            markLine: {
                data: [
                    {type: 'average', name: '平均值'}
                ]
            }		                
        },
        {% endfor %}
        ]
    }; 

    var inventoryOption = {
        // title: {
        //     text: '库存'
        // },
        tooltip: {
        	trigger: 'axis'
        },
        legend: {
            data: {{legendInventory|safe}},
            // left: 'left', 
            top : 'bottom', 
        },
        toolbox: {
            show: true,
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: {readOnly: false},
                magicType: {type: ['line', 'bar']},
                restore: {},
                saveAsImage: {}
            }
        },		            
        xAxis: {
            data: {{xAxis|safe}}
        },
        yAxis: {},
        series: [
        {% for k,v in inventory.items %}
        {
            name: '{{k|safe}}',
            type: 'line',
            data: {{v|safe}},
            markPoint: {
                data: [
                    {type: 'max', name: '最大值'},
                    // {type: 'min', name: '最小值'}
                ]
            },
            markLine: {
                data: [
                    {type: 'average', name: '平均值'}
                ]
            }		                
        },
        {% endfor %}
        ]
    };           
    // 使用刚指定的配置项和数据显示图表。
    distributionChart.setOption(distributionOption)
    productionChart.setOption(productionOption);
	receivedChart.setOption(receivedOption);
	outputChart.setOption(outputOption);
	consumptionChart.setOption(consumptionOption);
	inventoryChart.setOption(inventoryOption);    
</script>
{% endblock JS%}