{% extends "main.html" %}

{% block hJS %} 
    <script src="/static/js/echarts.js"></script>
{% endblock hJS %}

{% block main-content %}
<!--  	
	生产 production
	接收 receive
	外输 export
	消耗 consume
	库存 stock 
 -->
	<div class="row">
		<div class="col-md-6">
			<div id="生产" style="width: 800px;height:400px;"></div>
		</div>
		<div class="col-md-6">
			<div id="接收" style="width: 800px;height:400px;"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div id="外输" style="width: 800px;height:400px;"></div>
		</div>
		<div class="col-md-6">
			<div id="消耗" style="width: 800px;height:400px;"></div>
		</div>
	</div>		
<!-- 	{% for k, v in distributionData.items%} 
		{% if forloop.counter0|divisibleby:2 %}
			<div class="row">
				<div class="col-md-6">
					{{k|safe}}:{{v|safe}}
				</div>			
		{% else %}
				<div class="col-md-6">
					{{k|safe}}:{{v|safe}}
				</div>
			</div>
			{% if forloop.last %}
				<div class="row">
					<div class="col-md-6">
						{{k|safe}}:{{v|safe}}
					</div>
				</div>		
			{% endif %}			
		{% endif %}
	{% endfor %} --> 
{% endblock %}

{% block JS %}
    <script type="text/javascript">

    var firstChart = ec.init(document.getElementById("first"));
    var option = {};
    firstChart.setOption(option);
    </script>
{% endblock JS%}