{% extends "main.html" %} 
{% block title %}{{title}}{% endblock title %}
{% block CSS %}
    td,th{
        text-align:center;
        vertical-align:middle;
    }
{% endblock CSS %}
{% block main-content %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <form class="form-horizontal" action="{% url 'proration'  %}" method="post">
            {% csrf_token %}
            <!--{{form.as_table}}-->
            <div class="form-group">
                <label for="日期" class="col-md-2 col-md-offset-6 control-label">日期</label>
                <div class="col-md-2">
                    <input class="form-control" type="date" id="日期" name="日期"  value={{today|date:"Y-m-d"}} />
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary btn-block" >提交</button>
                </div>
            </div>

            <table class="table table-bordered">
                <tr>
                    <th>名称</th>
                    <th>月配产</th>
                    <th>年配产</th>
                </tr>
                <tr>
                    <td>天然气10<sup>4</sup>Nm<sup>3</sup></td>
                    <td><input class="form-control" type="number"  id="天然气月配产"  name="天然气月配产"  required /></td>
                    <td><input class="form-control" type="number"  id="天然气年配产" name="天然气年配产" required /></td>
                </tr>
                <tr>
                    <td>轻油10<sup>4</sup>m<sup>3</sup></td>
                    <td><input class="form-control"  type="number" id="轻油月配产" name="轻油月配产"   required /></td>
                    <td><input class="form-control"  type="number" id="轻油年配产" name="轻油年配产"   required /></td>
                </tr>
                <tr>
                    <td>轻烃10<sup>4</sup>m<sup>3</sup></td>
                    <td><input class="form-control"  type="number" id="丙丁烷月配产" name="丙丁烷月配产"   required /></td>
                    <td><input class="form-control"  type="number" id="丙丁烷年配产" name="丙丁烷年配产"   required /></td>
                </tr>
            </table>

        </form>
    </div>

</div>

{% endblock main-content %}