{% extends "main.html" %} 
{% block title %}{{title}}{% endblock title %} 
{% block main-content %}
<form action="{% url 'proration'  %}" method="post">
    <div class="col-md-10">
    <input type="date" name="日期" value={{today}} />
    <table class="table table-bordered">
        <tr>
            <th>名称</th>
            <th>月配产</th>
            <th>年配产</th>
        </tr>
        <tr>
            <td>天然气104Nm3</td>
            <td><input type="text" name="天然气月配产"  required /></td>
            <td><input type="text" name="天然气年配产"  required /></td>
        </tr>
        <tr>
            <td>轻油104m3</td>
            <td><input type="text" name="轻油月配产"  required /></td>
            <td><input type="text" name="轻油年配产"  required /></td>
        </tr>
        <tr>
            <td>轻烃104m3</td>
            <td><input type="text" name="轻烃月配产"  required /></td>
            <td><input type="text" name="轻烃年配产"  required /></td>
        </tr>
    </table>
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary btn-block" >提交</button>
    </div>

</form>
{% endblock main-content %}